@use "global" as *;

.p-service {}

.p-service__inner {}


.p-service__title {}

.c-section-header {}

.c-section-header__engtitle {}

.c-section-header__jatitle {}

.p-service__items {
    margin-top: rem(32);

    @include mq('md') {
        margin-top: rem(30);
        display: flex;
        gap: rem(30);
    }
}

.p-service__item + .p-service__item {
    margin-top: rem(40);

    @include mq('md') {
        margin-top: 0;
        // margin-left: rem(30);
    }
}

.p-service__btn {
    text-align: center;
    margin-top: rem(30);
}
