@use "global" as *;

.l-topContact {
    margin-top: rem(80);

    @include mq('md') {
        margin-top: rem(110);
    }
}

.l-topContact--mt0 {
    margin-top: 0;

    @include mq('md') {
        margin-top: 0;
    }
}